<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExfSoft.Json" version="1.0.1" targetFramework="net452" />
  <package id="GeoJSON.Net" version="0.1.38" targetFramework="net452" />
  <package id="JSON" version="1.0.1" targetFramework="net452" />
  <package id="Jv.Json" version="1.2.2" targetFramework="net452" />
  <package id="Kiwi.Json" version="2.1.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>